@media (min-width: 1025px) {

/*==================================================================
global
====================================================================*/
.wrapper{
	max-width: 1200px;
}

/*==================================================================
.aboutUs
====================================================================*/
#aboutUs {padding: 40px;}

#aboutUs img {
	float: left;
	top: auto;
	margin: 0 40px;
}

#aboutUs .contentCurriculum {
	max-width: 400px;
	float: left;
}

#aboutUs .contentCurriculum h3{text-align: left;}

#aboutUs .contentCurriculum p {line-height: 22pt;}