/*==================================================================
body
====================================================================*/
body {
	font-family: sans-serif;
	font-size: 10pt;
}

/*==================================================================
global
====================================================================*/
.wrapper {
	padding: 0 20px;
	max-width: 900px;
	margin: 0 auto;
}

.vhide{
	position: fixed;
	display: block;
	height: 0;
	width: 0;
	overflow: hidden;
	background-color: transparent;
	color: transparent;
	background-image: none;
}

/*==================================================================
.mainHeader
====================================================================*/
.mainHeader h1 {
	font-size: 40px;
}

/*==================================================================
.mainMenu
====================================================================*/
.mainMenu {
	background-color: #59a392;
}

.mainMenu > .wrapper {
	padding: 0;
}

.mainMenu li a {
	display: block;
	background-color: #59a392;
	padding: 20px;
	margin: 0 1px 1px 1px;
	font-size: 16pt;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.mainMenu li a:hover {
	background-color: rgba(213,233,215,0.4);
}

/*==================================================================
.showcase
====================================================================*/
.showcase {
	background-image: url("../img/background.jpg");
	opacity: 0.85;
	padding: 100px 0;
}

.showcase img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 190px;
}

/*==================================================================
#evaluation
====================================================================*/
#evaluation {
	background-color: #4ea391;
	padding-bottom: 80px;
}

#evaluation header {
	padding: 30px 0;
	background-color: rgba(217,232,228,0.2);
	text-align: center;
}

#evaluation header h2 {
	font-size: 16pt;
	color: #ffffff;
}

#evaluation ol {
	padding: 40px 0;
}

#evaluation .step {
	list-style: none;
	margin: 0 auto 60px auto;
	text-align: center;
}

#evaluation .step:last-child {
	margin-bottom: 0;
}

#evaluation .step i {
	font-size: 50pt;
	color: #fff;
}

#evaluation .step h3 {
	font-size: 16pt;
	color: #ffffff;
	margin: 20px 0;

}

#evaluation .step p {
	font-size: 14pt;
	color: #ffffff;
	line-height: 20pt;
}

/*==================================================================
.click
====================================================================*/
.click {
	margin: 0 auto;
	text-align: center;
}

.click a {
	display: block;
	font-size: 16pt;
	text-decoration: none;
	color: #4ea391;
	padding: 20px;
	background: rgba(255,255,255, 0.8);
	border-radius: 3px;
}

.click a:hover {
	background-color: #ffffff;
}

/*==================================================================
.aboutUs
====================================================================*/
#aboutUs {
	background-color: #d5e9d7;
	padding-bottom: 60px;
}

#aboutUs > header {
	margin-bottom: 20px;
}

#aboutUs img {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	border: 5px solid #ffffff;
	position: relative;
	top: -40px;
}

#aboutUs h2 {
	text-align: center;
	font-size: 22pt;
}

#aboutUs .contentCurriculum {
	margin: 0 auto;
}

#aboutUs .contentCurriculum p {
	font-size: 14pt;
	color: #4f6867;
	margin-bottom: 10px;
	line-height: 20pt;
}

/*==================================================================
#therapies
====================================================================*/
#therapies {
	background-color: #59a392;
	background-size: 100%;
	padding-bottom: 60px;
}

#therapies .mainQuote {
	padding: 30px 0;
	margin-bottom: 40px;
	background-color: rgba(255,255,255, 0.2);
}

#therapies .mainQuote p {
	text-align: center;
	font-size: 14pt;
	color: #ffffff;
}

#therapies li {
	list-style: none;
	text-align: center;
	margin-bottom: 30px;
}

#therapies li:last-child {
	margin-bottom: 0;
}

#therapies img {
	display: inline-block;
	margin-bottom: 10px;
	max-height: 78px;
}

#therapies h3 {
	color: #ffffff;
	font-size:12pt;
	font-weight: normal;
}

/*==================================================================
#mainFooter
====================================================================*/
#mainFooter {
	padding: 40px;
	background-color: #2b2d35;
}

#mainFooter p {
	margin-bottom: 20px;
	color: #d6dad8;
	font-size: 14pt;
	text-align: center;
}

#mainFooter ul {
	list-style: none;
	text-align: center;
}

#mainFooter li {
	display: inline-block;
	margin: 20px;
}
#mainFooter li .fa {
	font-size: 22pt;
	color: #d6dad8;
}

#mainFooter .facebook .fa {
	font-size: 20pt;
}

#mainFooter li .fa:hover,
.tooltip: hover { color: #59a392;}


.tooltip {
	display: inline-block;
	position: relative;
}

.tooltip .tooltiptext {
	position: absolute;
	width: 120px;
	padding: 2px;
	border-radius: 5px;
	visibility: hidden;
	background-color: black;
	color: #59a392;
	text-align: center;
	font-size: 10pt;
	z-index: 1;
	top: 130%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
