@media (min-width: 768px) {

	/*==================================================================
	.mainMenu
	====================================================================*/
	.mainMenu li {
		float: left;
		width: 25%;
	}

	.mainMenu li a {
		margin: 0;
	}

	/*==================================================================
	.showcase
	====================================================================*/
	.showcase img {max-width: 400px;}
	.showcase {padding: 50px;}

	/*==================================================================
	.#evaluation
	====================================================================*/
	#evaluation .step {
		float: left;
		width: 33.333333%;
		padding: 0 20px;
	}

	#evaluation .step:first-child {padding-left: 0;}
	#evaluation .step:last-child {padding-right: 0;}

	/*==================================================================
	#aboutUs
	====================================================================*/
	.contentCurriculum {
		max-width: 800px
		text-align: justify;
	}

	/*==================================================================
	.click
	====================================================================*/
	.click p a {
		display: inline-block;
	}

	/*==================================================================
	#therapies
	====================================================================*/
	#therapies {padding-bottom: 0;}
	#therapies .mainQuote {margin-bottom: 60px;}

	#therapies ul li {
		float: left;
		width: 20%;
		margin-bottom: 60px;
	}

}