@media (min-width: 1025px)
{

/*==================================================================
.showcase
====================================================================*/
.showcase img {max-width: 210px;}/**********************diminui 300 para 210px pra não distorcer a imagem********/

/*==================================================================
.evaluation
====================================================================*/
.evaluation .step {
	float: left;
	margin: 4px; /*****************não funciona (os 3 steps continuam mal distribuídos em 1024px)********/
	width: calc(100%/3 - 2 * 4px);/*****************não funciona ********/
	padding: 0 20px;/*****************não funciona********/
}

}
