@media (min-width: 769px) {

	/*==================================================================
	.mainHeader
	====================================================================*/
	.mainHeader {
		position: fixed;
		z-index: 5;
		width: 100%;
		box-shadow: 0 1px 5px #000000;
	}

	/*==================================================================
	.mainMenu
	====================================================================*/
	.mainMenu li {
		float: left;
		width: 25%;
	}

	.mainMenu li a {
		margin: 0;
	}

	/*==================================================================
	.showcase
	====================================================================*/
	.showcase img {max-width: 400px;}
	.showcase {padding: 50px 0;}

	/*==================================================================
	.#evaluation
	====================================================================*/
	#evaluation .step {
		float: left;
		width: 33.333333%;
		padding: 0 20px;
	}

	#evaluation .step:first-child {padding-left: 0;}
	#evaluation .step:last-child {padding-right: 0;}

	/*==================================================================
	#aboutUs
	====================================================================*/
	#aboutUs .contentCurriculum {
		max-width: 700px;
	}

	#aboutUs .contentCurriculum h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	#aboutUs .contentCurriculum p {
		text-align: justify;
	}

	/*==================================================================
	.click
	====================================================================*/
	.click p a {
		display: inline-block;
	}

	/*==================================================================
	#therapies
	====================================================================*/
	#therapies {padding-bottom: 0;}
	#therapies .mainQuote {margin-bottom: 60px;}

	#therapies ul li {
		float: left;
		width: 20%;
		margin-bottom: 60px;
	}

}