@media (min-width: 1025px) {

/*==================================================================
global
====================================================================*/
.wrapper{
	max-width: 1200px;
}

/*==================================================================
.aboutUs
====================================================================*/
#aboutUs {padding: 40px 0;}

#aboutUs img {
	float: left;
	top: auto;
	margin: 0 40px;
}

#aboutUs .contentCurriculum {
	max-width: calc(100% - 400px - 40px - 40px);
	float: left;
}

#aboutUs .contentCurriculum h3 {text-align: left;}

#aboutUs .contentCurriculum p {
	line-height: 22pt;
	text-align: left;
}

}